* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 2.5rem;
  text-align: center;
  height: 2rem;
  font-size: 9px;
  margin-bottom: 1px;
}

.zero {
  flex: 2;
}

.opt {
  background-color: #f5913e;
  border: 1px solid black;
}

.display {
  width: 10rem;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

.screen {
  background-color: #696969;
  width: 10rem;
  height: 2rem;
  color: #fff;
  text-align: right;
  padding-top: 4%;
}
