* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: white;
  display: flex;
}

.App {
  display: flex;
  margin-top: 2%;
  flex-direction: column;
  padding: 2%;
  align-items: center;
  justify-content: center;
}
